<div class="bd-example">
  <div class="card-columns">
    <div class="card" style="width: 18rem;" *ngFor="let c of articles" (click)="articleSelected(c)">
      <img class="card-img-top" src="{{c.image}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{c.title}}</h5>
        <p class="card-text"><small class="text-muted">Data: {{c.date_created | date: 'dd/MM/yyyy'}}</small></p>
        <a href="{{c.url}}" class="btn btn-primary">Continua sul sito</a>
      </div>
    </div>
  </div>
</div>

<div class="card" style="width: 18rem;" *ngIf="article">
  <img class="card-img-top" src="{{article.image}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{article.title}}</h5>
    <p class="card-text">{{article.content_html}}</p>
    <p class="card-text"><small class="text-muted">Data: {{article.date_created | date: 'dd/MM/yyyy'}}</small></p>
    <a href="{{article.url}}" class="btn btn-primary">Continua sul sito</a>
  </div>
</div>