<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Articles</font></font></h1>
      <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Questo è un modello per un semplice sito di marketing o informativo. </font><font style="vertical-align: inherit;">Include un grande callout chiamato jumbotron e tre parti di contenuto di supporto. </font><font style="vertical-align: inherit;">Usalo come punto di partenza per creare qualcosa di più unico.</font></font></p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Per saperne di più "</font></font></a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">

      <app-header></app-header>
      <div class="m-t-1">
        <router-outlet></router-outlet>
      </div>

    </div> <!-- /row -->

    <hr>

  </div> <!-- /container -->

</main>

<footer class="container">
  <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">© Newportal 2018-2019</font></font></p>
</footer>
